html{
  background: rgb(20, 21, 96);
}
.App{
  background: rgb(20, 21, 96);
}

.myForm{
  margin: 70px auto;
  width: 450px;
  background: #eee;
  border-radius: 1% ;
}

Form{
  width: 450px;
  padding: 10px;
}





